<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <title>Websocket</title>
</head>

<body>
    <h1>WEBSOCKET - SOCKET.IO</h1>
    {{{body}}}
</body>

</html>