<h2>CHAT CODERHOUSE</h2>

<h3 id="name"></h3>
<form id="chatForm">
    <input type="text" name="chatMessage" id="chatMessage">
    <input type="submit" value="SEND">
</form>

<div id="chat"></div>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>