<form action="/api/messages" method="post">
    first name: <input type="text" name="first_name"><br>
    last name: <input type="text" name="last_name"><br>
    email: <input type="email" name="email"><br>
    message: <input type="text" name="message"><br>
    <input type="submit" value="SIGNUP">
</form>