<h1>LOGIN</h1>
<form action="/api/users/login" method="post">
    email: <input type="email" name="email" id="email">
    password: <input type="password" name="password" id="password">
    <input type="submit" value="LOGIN">
</form>