<h1>SIGNUP</h1>
<form action="/api/users/signup" method="post">
    FirstName: <input type="text" name="first_name" id="first_name">
    LastName: <input type="text" name="last_name" id="last_name">
    Email: <input type="email" name="email" id="email">
    Password: <input type="password" name="password" id="password">
    <input type="submit" value="SIGNUP">
</form>