<h2>Signup</h2>
<form action="/api/users" method="post">
First Name <input type="text" name="first_name" id="first_name">
Last Name <input type="text" name="last_name" id="last_name">
Email <input type="email" name="email" id="email">
Password <input type="password" name="password" id="password">
<input type="submit" value="SIGNUP">
</form>