<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        {{#each products}}
        <tr>
            <td>{{title}}</td>
            <td>{{description}}</td>
            <td>{{price}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>