<h2>CREATE PRODUCT</h2>
<form action="/api/products" method="post">
    Name: <input type="text" name="name" id="name">
    Price: <input type="number" name="price" id="price">
    Stock: <input type="number" name="stock" id="stock">
    Description: <input type="text" name="description" id="description">
    <input type="submit" value="CREATE">
</form>